---
interface TableRow {
    grade: string,
    benchmarks: string[]
}
const {cols, rows} = Astro.props;
---
<table class = "grading-schedule">
    <thead>
        <tr>
            {cols.map((col:string) => (
                <th>{col}</th>
            ))}
        </tr>
    </thead>
    {rows.map((row:TableRow) => 
        <tr>
            <td>{row.grade}</td>
            {row.benchmarks.map((benchmark) => (
                <td>{benchmark}</td>
            ))}
        </tr>
    )}
</table>